In [1]:
import pandas as pd
import pickle
import xlrd
import numpy as np
import matplotlib.pyplot as plt

PWS_SIZE - Indicates Public Water Systems by size of population served. 
Size	Description
Very Small	500 or less
Small	501 - 3,300
Medium	3,301 - 10,000
Large	10,001 - 100,000
Very Large	>100,000

SERIOUS_VIOLATOR - 'Yes' indicates a public water system with unresolved serious, multiple, and/or continuing violations that is designated as a priority candidate for formal enforcement, as directed by EPA's Drinking Water Enforcement Response Policy (PDF) (16 pp, 952 K). EPA designates systems as serious violators so that the drinking water system and primacy agency will act quickly to resolve the most significant noncompliance. Many public water systems with violations, however, are not serious violators. Operators and the primacy agencies are expected to correct the violations at non-serious violators as well, but without the more strict requirements and deadlines applicable to serious violators. If the violations at a non-serious violator are left uncorrected, that system may become a serious violator. When a serious violator has received formal enforcement action or has returned to compliance, it is no longer designated a serious violator. EPA updates its serious violator list on a quarterly basis.

In [2]:
serious_violators = pd.read_csv('../data/SDWA_SERIOUS_VIOLATORS.csv')
serious_violators.head(30)

,PWSID,PWS_NAME,CITY_SERVED,STATE,STATE_NAME,PWS_TYPE_CODE,PWS_TYPE_SHORT,SOURCE_WATER,PWS_SIZE,POPULATION_SERVED_COUNT,FISCAL_YEAR,SERIOUS_VIOLATOR
0,FL4501229,"RIVIERA BEACH UTILITY DISTRICT, CITY OF",RIVIERA BEACH,FL,Florida,CWS,Community,GW,Large,31500,2015,Y
1,AK2299032,OMNI PARKS STORE,GLENNALLEN,AK,Alaska,TNCWS,Non-Community,GW,Very Small,222,2011,Y
2,NJ1708300,E I DUPONT CHAMBER WORKS,PENNSVILLE TWP.-1708,NJ,New Jersey,NTNCWS,Non-Community,SW,Small,920,2013,Y
3,NJ1708300,E I DUPONT CHAMBER WORKS,PENNSVILLE TWP.-1708,NJ,New Jersey,NTNCWS,Non-Community,SW,Small,920,2012,Y
4,ID1280084,HAUSER LAKE WATER ASSN INC,NaN,ID,Idaho,CWS,Community,GW,Small,1200,2011,Y
5,ID6030036,MARSH VALLEY JR AND SR HIGH SCHOOL,NaN,ID,Idaho,NTNCWS,Non-Community,GW,Small,624,2014,Y
6,VT0005626,VALLEY PARK CONDOMINIUM,KILLINGTON,VT,Vermont,CWS,Community,GW,Very Small,42,2014,Y
7,VT0005626,VALLEY PARK CONDOMINIUM,KILLINGTON,VT,Vermont,CWS,Community,GW,Very Small,42,2013,Y
8,VT0005384,WHIFFLETREE CONDOMINIUM,KILLINGTON,VT,Vermont,CWS,Community,GW,Very Small,189,2014,Y
9,OK2001036,MARY JACKSON TP,NaN,OK,Oklahoma,CWS,Community,GW,Very Small,50,2014,Y
10,OK2001036,MARY JACKSON TP,NaN,OK,Oklahoma,CWS,Community,GW,Very Small,50,2013,Y
11,OK2001036,MARY JACKSON TP,NaN,OK,Oklahoma,CWS,Community,GW,Very Small,50,2012,Y
12,OH2550712,ROYAL KINGDOM MINISTRIES PWS,NaN,OH,Ohio,TNCWS,Non-Community,GW,Very Small,40,2011,Y
13,OK2001475,PECAN TREE ESTATES ADDN,NaN,OK,Oklahoma,CWS,Community,GW,Very Small,100,2015,Y
14,WI7340147,OAK RIDGE CAMPGROUND,ELCHO,WI,Wisconsin,TNCWS,Non-Community,GW,Very Small,25,2015,Y
15,KY0360272,MARTIN WATER DEPARTMENT,NaN,KY,Kentucky,CWS,Community,SW,Small,1167,2013,Y
16,KY0360272,MARTIN WATER DEPARTMENT,NaN,KY,Kentucky,CWS,Community,SW,Small,1167,2012,Y
17,KY0360272,MARTIN WATER DEPARTMENT,NaN,KY,Kentucky,CWS,Community,SW,Small,1167,2011,Y
18,MO4212819,OZARK FREEZE RESTAURANT,MINERAL POINT,MO,Missouri,TNCWS,Non-Community,GW,Very Small,35,2013,Y
19,MO4212819,OZARK FREEZE RESTAURANT,MINERAL POINT,MO,Missouri,TNCWS,Non-Community,GW,Very Small,35,2012,Y
20,MO4212819,OZARK FREEZE RESTAURANT,MINERAL POINT,MO,Missouri,TNCWS,Non-Community,GW,Very Small,35,2011,Y
21,MS0210003,TOWN OF MCLAIN,NaN,MS,Mississippi,CWS,Community,GW,Very Small,436,2012,Y
22,MS0210003,TOWN OF MCLAIN,NaN,MS,Mississippi,CWS,Community,GW,Very Small,436,2011,Y
23,MS0210005,TOWN OF STATE LINE,NaN,MS,Mississippi,CWS,Community,GW,Small,1290,2013,Y
24,MS0210005,TOWN OF STATE LINE,NaN,MS,Mississippi,CWS,Community,GW,Small,1290,2012,Y
25,MS0210005,TOWN OF STATE LINE,NaN,MS,Mississippi,CWS,Community,GW,Small,1290,2011,Y
26,OK2001431,NOBLE ESTATES MHP,NaN,OK,Oklahoma,CWS,Community,GW,Very Small,75,2014,Y
27,OK2001431,NOBLE ESTATES MHP,NaN,OK,Oklahoma,CWS,Community,GW,Very Small,75,2013,Y
28,AZ0407555,ASPC LEWIS COMPLEX WATER SYSTEM,BUCKEYE,AZ,Arizona,CWS,Community,GW,Medium,4300,2014,Y
29,WI6561105,COUNTY MATERIALS - READY MIX SHOP,ROBERTS,WI,Wisconsin,NTNCWS,Non-Community,GW,Very Small,50,2015,Y

In [3]:
serious_violators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48908 entries, 0 to 48907
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PWSID                    48908 non-null  object
 1   PWS_NAME                 48908 non-null  object
 2   CITY_SERVED              22217 non-null  object
 3   STATE                    48908 non-null  object
 4   STATE_NAME               48902 non-null  object
 5   PWS_TYPE_CODE            48908 non-null  object
 6   PWS_TYPE_SHORT           48908 non-null  object
 7   SOURCE_WATER             48908 non-null  object
 8   PWS_SIZE                 48908 non-null  object
 9   POPULATION_SERVED_COUNT  48908 non-null  int64
 10  FISCAL_YEAR              48908 non-null  int64
 11  SERIOUS_VIOLATOR         48908 non-null  object
dtypes: int64(2), object(10)
memory usage: 4.5+ MB

In [4]:
serious_violators.describe()

       POPULATION_SERVED_COUNT   FISCAL_YEAR
count             4.890800e+04  48908.000000
mean              2.207711e+03   2014.870042
std               2.654236e+04      2.878089
min               0.000000e+00   2011.000000
25%               5.000000e+01   2012.000000
50%               1.320000e+02   2015.000000
75%               5.000000e+02   2017.000000
max               1.661445e+06   2020.000000

For visual EDA do bar chart of year (x-axis) and counts (y-axis) 
https://echo.epa.gov/help/drinking-water-dashboard-help

VIOLATION_NAME - Violations required to be reported under SDWA are grouped into the following categories:
Health-based violations - Violations of maximum contaminant levels (MCLs) or maximum residual disinfectant levels (MRDLs), which specify the highest concentrations of contaminants or disinfectants, respectively, allowed in drinking water; or of treatment technique (TT) rules, which specify required processes intended to reduce the amounts of contaminants in drinking water. MCLs, MRDLs, and treatment technique rules are all health-based drinking water standards.
Monitoring and reporting (MR) violations - Failure to conduct regular monitoring of drinking water quality, as required by SDWA, or to submit monitoring results in a timely fashion to the state environmental agency or EPA.
Other violations - Violations of other requirements of SDWA, such as failing to issue annual consumer confidence reports, or conducting periodic sanitary surveys.

In [5]:
violations = pd.read_csv('../data/SDWA_VIOLATIONS.csv')

/opt/anaconda3/envs/geo/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
violations.head()

,PWSID,PWS_NAME,CITY_SERVED,STATE,STATE_NAME,PWS_TYPE_CODE,PWS_TYPE_SHORT,SOURCE_WATER,PWS_SIZE,POPULATION_SERVED_COUNT,...,VIOLATION_NAME,VIOLATION_ID,RULE_NAME,BEGIN_YEAR,END_YEAR,RTC_YEAR,ACUTE_HEALTH_BASED,HEALTH_BASED,MONITORING_REPORTING,PUBLIC_NOTIF_OTHER
0,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119615,St2 DBP,2017,2017.0,NaN,N,Y,N,N
1,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,Monitoring and Reporting (DBP),119611,St1 DBP,2017,2017.0,NaN,N,N,Y,N
2,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119606,St2 DBP,2017,2017.0,NaN,N,Y,N,N
3,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119599,St2 DBP,2016,2016.0,NaN,N,Y,N,N
4,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119597,St2 DBP,2017,2017.0,NaN,N,Y,N,N

In [7]:
violations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142143 entries, 0 to 3142142
Data columns (total 21 columns):
 #   Column                   Dtype
---  ------                   -----
 0   PWSID                    object
 1   PWS_NAME                 object
 2   CITY_SERVED              object
 3   STATE                    object
 4   STATE_NAME               object
 5   PWS_TYPE_CODE            object
 6   PWS_TYPE_SHORT           object
 7   SOURCE_WATER             object
 8   PWS_SIZE                 object
 9   POPULATION_SERVED_COUNT  int64
 10  FISCAL_YEAR              int64
 11  VIOLATION_NAME           object
 12  VIOLATION_ID             object
 13  RULE_NAME                object
 14  BEGIN_YEAR               int64
 15  END_YEAR                 float64
 16  RTC_YEAR                 float64
 17  ACUTE_HEALTH_BASED       object
 18  HEALTH_BASED             object
 19  MONITORING_REPORTING     object
 20  PUBLIC_NOTIF_OTHER       object
dtypes: float64(2), int64(3), object(16)
memory usage: 503.4+ MB

In [8]:
#violations.describe()

In [9]:
#df.round({'dogs': 1, 'cats': 0})
#violations.round({'POPULATION_SERVED_COUNT':0, 'FISCAL_YEAR':0, 'BEGIN_YEAR':0, 'END_YEAR':0, 'RTC_YEAR':0})

# Map out violations
Find out how many nans there are in city field. See if can create function to map the nan cities using PWS_Name. Is it possible to grab lat & lon from PWS_Name?

In [10]:
count = violations["CITY_SERVED"].isna().sum()
print(count)

1734086

number of entries minus nan values. 
3,142,143-1,734,086=1,408,057
so 1,734,086 have nan values in city column (more than half) 
and 1,408,057 have values in city column

In [11]:
#df.loc[df['Col2'].isnull()] 
nullcity_violations =violations.loc[violations["CITY_SERVED"].isnull()]
nullcity_violations.head(50)

,PWSID,PWS_NAME,CITY_SERVED,STATE,STATE_NAME,PWS_TYPE_CODE,PWS_TYPE_SHORT,SOURCE_WATER,PWS_SIZE,POPULATION_SERVED_COUNT,...,VIOLATION_NAME,VIOLATION_ID,RULE_NAME,BEGIN_YEAR,END_YEAR,RTC_YEAR,ACUTE_HEALTH_BASED,HEALTH_BASED,MONITORING_REPORTING,PUBLIC_NOTIF_OTHER
0,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119615,St2 DBP,2017,2017.0,NaN,N,Y,N,N
1,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,Monitoring and Reporting (DBP),119611,St1 DBP,2017,2017.0,NaN,N,N,Y,N
2,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119606,St2 DBP,2017,2017.0,NaN,N,Y,N,N
3,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119599,St2 DBP,2016,2016.0,NaN,N,Y,N,N
4,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119597,St2 DBP,2017,2017.0,NaN,N,Y,N,N
34,TX0840021,GALVESTON COUNTY MUD 12,NaN,TX,Texas,CWS,Community,SW,Medium,4542,...,Follow-up Or Routine LCR Tap M/R,518,LCR,2017,NaN,2017.0,N,N,Y,N
35,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,Water Quality Parameter M/R,990009968,LCR,2017,2017.0,NaN,N,N,Y,N
36,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009973,Arsenic,2017,2017.0,NaN,N,Y,N,N
37,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009971,Arsenic,2017,2017.0,NaN,N,Y,N,N
38,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009965,Arsenic,2017,2017.0,NaN,N,Y,N,N
39,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009961,Arsenic,2017,2017.0,NaN,N,Y,N,N
40,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009956,Arsenic,2017,2017.0,NaN,N,Y,N,N
41,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009953,Arsenic,2016,2016.0,NaN,N,Y,N,N
42,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009949,Arsenic,2016,2016.0,NaN,N,Y,N,N
43,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009947,Arsenic,2016,2016.0,NaN,N,Y,N,N
44,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009944,Arsenic,2016,2016.0,NaN,N,Y,N,N
45,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009939,Arsenic,2015,2015.0,NaN,N,Y,N,N
46,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009936,Arsenic,2015,2015.0,NaN,N,Y,N,N
47,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009933,Arsenic,2015,2015.0,NaN,N,Y,N,N
48,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009928,Arsenic,2015,2015.0,NaN,N,Y,N,N
49,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,CCR Inadequate Reporting,990009927,CCR,2014,NaN,2017.0,N,N,N,Y
50,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009925,Arsenic,2014,2014.0,NaN,N,Y,N,N
51,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009923,Arsenic,2014,2014.0,NaN,N,Y,N,N
52,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009920,Arsenic,2014,2014.0,NaN,N,Y,N,N
53,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009917,Arsenic,2014,2014.0,NaN,N,Y,N,N
54,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009908,Arsenic,2013,2013.0,NaN,N,Y,N,N
55,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009905,Arsenic,2013,2013.0,NaN,N,Y,N,N
56,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009903,Arsenic,2013,2013.0,NaN,N,Y,N,N
57,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009899,Arsenic,2013,2013.0,NaN,N,Y,N,N
58,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"Monitoring, Source Water (GWR)",990009874,GWR,2011,NaN,NaN,N,N,Y,N
61,WA5373600,SKAGIT CO PUD ROCKPORT,NaN,WA,Washington,CWS,Community,GW,Very Small,198,...,"Monitoring, Regular",1689819,Nitrates,2016,2017.0,2017.0,N,N,Y,N
62,WA5373600,SKAGIT CO PUD ROCKPORT,NaN,WA,Washington,CWS,Community,GW,Very Small,198,...,"Monitoring, Regular",1589818,Nitrates,2015,2016.0,2017.0,N,N,Y,N
64,WA5399110,YAKIMA GOLDING FARMS 1,NaN,WA,Washington,CWS,Community,GW,Very Small,85,...,"Monitoring, Regular",1675468,Nitrates,2017,2017.0,2017.0,N,N,Y,N
65,WA5399110,YAKIMA GOLDING FARMS 1,NaN,WA,Washington,CWS,Community,GW,Very Small,85,...,CCR Complete Failure to Report,1640161,CCR,2016,NaN,2017.0,N,N,N,Y
66,WA5399110,YAKIMA GOLDING FARMS 1,NaN,WA,Washington,CWS,Community,GW,Very Small,85,...,"Monitoring, Routine Major (TCR)",1386436,TCR,2013,2013.0,NaN,N,N,Y,N
67,093200359,Washoe Tribe Stewart,NaN,672,Washoe Tribe of Nevada,CWS,Community,GW,Very Small,160,...,Sample Siting Plan Errors (RTCR),32003595A800042016,RTCR,2016,NaN,NaN,N,N,N,Y
68,093200359,Washoe Tribe Stewart,NaN,672,Washoe Tribe of Nevada,CWS,Community,GW,Very Small,160,...,Failure Submit IDSE/Subpart V Plan Rpt,3200359350600102013,St2 DBP,2014,NaN,NaN,N,N,Y,N
69,WA5373620,ROCKY BAY WATER SYSTEM,NaN,WA,Washington,CWS,Community,GW,Very Small,36,...,CCR Complete Failure to Report,1640075,CCR,2016,NaN,2017.0,N,N,N,Y
70,WA5374385,Roses Cafe,NaN,WA,Washington,TNCWS,Non-Community,GW,Very Small,107,...,"Monitoring, Routine Major (TCR)",1308310,TCR,2014,2014.0,NaN,N,N,Y,N
71,WA5374385,Roses Cafe,NaN,WA,Washington,TNCWS,Non-Community,GW,Very Small,107,...,"Monitoring, Routine Major (TCR)",1423094,TCR,2014,2014.0,NaN,N,N,Y,N
72,TX1012740,HARRIS COUNTY MUD 230,NaN,TX,Texas,CWS,Community,GW,Medium,6498,...,Follow-up Or Routine LCR Tap M/R,4,LCR,2016,NaN,2017.0,N,N,Y,N
73,TX0030019,CENTRAL WCID OF ANGELINA COUNTY,NaN,TX,Texas,CWS,Community,GW,Medium,7319,...,Follow-up Or Routine LCR Tap M/R,100068899,LCR,2017,NaN,2017.0,N,N,Y,N
81,090605011,Mesa Grande (Tract 2),NaN,580,Mesa Grande Band of Diegueno Mission Indians o...,CWS,Community,GW,Very Small,40,...,Sample Siting Plan Errors (RTCR),06050115A800042016,RTCR,2016,NaN,NaN,N,N,N,Y
82,090605011,Mesa Grande (Tract 2),NaN,580,Mesa Grande Band of Diegueno Mission Indians o...,CWS,Community,GW,Very Small,40,...,"Monitoring, Regular",060501103104012016,Nitrates,2016,2017.0,2017.0,N,N,Y,N
83,090605011,Mesa Grande (Tract 2),NaN,580,Mesa Grande Band of Diegueno Mission Indians o...,CWS,Community,GW,Very Small,40,...,Failure Submit IDSE/Subpart V Plan Rpt,0605011350600102013,St2 DBP,2014,NaN,2017.0,N,N,Y,N
84,OK2002319,SELECT 9 SITE,NaN,OK,Oklahoma,NTNCWS,Non-Community,GW,Very Small,30,...,"Monitoring, Regular",39,VOC,2017,2017.0,NaN,N,N,Y,N
85,OK2002319,SELECT 9 SITE,NaN,OK,Oklahoma,NTNCWS,Non-Community,GW,Very Small,30,...,"Monitoring, Regular",54,VOC,2017,2017.0,NaN,N,N,Y,N
86,OK2002319,SELECT 9 SITE,NaN,OK,Oklahoma,NTNCWS,Non-Community,GW,Very Small,30,...,"Monitoring, Regular",36,VOC,2017,2017.0,NaN,N,N,Y,N
87,OK2002319,SELECT 9 SITE,NaN,OK,Oklahoma,NTNCWS,Non-Community,GW,Very Small,30,...,"Monitoring, Regular",53,VOC,2017,2017.0,NaN,N,N,Y,N
88,OK2002319,SELECT 9 SITE,NaN,OK,Oklahoma,NTNCWS,Non-Community,GW,Very Small,30,...,"Monitoring, Regular",41,VOC,2017,2017.0,NaN,N,N,Y,N

# Map out violations
PWSID gives county name - Is it possible to map off of the PWSID instead of city? County would be more accurate. Would have to webscrape each page linked to PWSID number and they all have different URLs. 

Make a funtion that itterates over ID and pulls out county from a webpage. ???

Can we maybe focus on one particular State? Do some EDA based on number of state violations. 
First pull in some more data to see if there are addresses anywhere. - No luck so far, see below.

In [12]:
sdwa_watersystems = pd.read_csv('../data/SDWA_PUB_WATER_SYSTEMS.csv')
sdwa_watersystems.head()

,PWSID,FISCAL_YEAR,STATE,STATE_NAME,EPA_REGION,PWS_TYPE_CODE,PWS_NAME,CITY_SERVED,STATE_CODE,SOURCE_WATER,IS_TRIBAL,SYSTEM_SIZE,POPULATION_SERVED_COUNT
0,AK2210574,2014,AK,Alaska,10,CWS,TOTEM TRAILER TOWN TC,ANCHORAGE,AK,GW,N,Very Small,480
1,AK2210574,2013,AK,Alaska,10,CWS,TOTEM TRAILER TOWN TC,ANCHORAGE,AK,GW,N,Very Small,480
2,AK2210574,2012,AK,Alaska,10,CWS,TOTEM TRAILER TOWN TC,ANCHORAGE,AK,GW,N,Very Small,480
3,AK2210574,2011,AK,Alaska,10,CWS,TOTEM TRAILER TOWN TC,ANCHORAGE,AK,GW,N,Very Small,480
4,OK2004301,2015,OK,Oklahoma,6,CWS,MARIETTA PWA,NaN,OK,GW,N,Small,2445

In [13]:
sdwa_sitevisits = pd.read_csv('../data/SDWA_SITE_VISITS.csv')
sdwa_sitevisits.head()

,PWSID,PWS_NAME,CITY_SERVED,STATE,STATE_NAME,PWS_TYPE_CODE,PWS_TYPE_SHORT,SOURCE_WATER,PWS_SIZE,POPULATION_SERVED_COUNT,FISCAL_YEAR,SITE_VISIT_DATE,SANITARY_SURVEY
0,AK2210574,TOTEM TRAILER TOWN TC,ANCHORAGE,AK,Alaska,CWS,Community,GW,Very Small,480,2012,05/18/2012,Y
1,OK2004301,MARIETTA PWA,NaN,OK,Oklahoma,CWS,Community,GW,Small,2445,2015,04/15/2015,Y
2,OK2004301,MARIETTA PWA,NaN,OK,Oklahoma,CWS,Community,GW,Small,2445,2015,09/08/2015,Y
3,FL1464061,EGLIN SITE C-3 (LASER),EGLIN AFB,FL,Florida,NTNCWS,Non-Community,GW,Very Small,25,2014,06/17/2014,Y
4,FL1464061,EGLIN SITE C-3 (LASER),EGLIN AFB,FL,Florida,NTNCWS,Non-Community,GW,Very Small,25,2013,08/01/2013,N

# Initial ideas:
Count of violations by State
Chart increase of violations over time (year over year) - see if it correlates with new legislation. 
Focus on a specific region or state - drill down from there. 

Possible datasets to pull in: median income, population, age demographics, weather average over time (year over year, month?), coronovirus data? 

Datasets to continue: waterbourne illnesses get same counts: count of waterbourne diseases by State, Chart increase of diseases over time (year over year). Focus on a specific region or state - drill down from there.

In [14]:
violations.STATE_NAME.value_counts()

Texas                                                                                  345999
Pennsylvania                                                                           311978
Mississippi                                                                            230522
West Virginia                                                                          129322
Alaska                                                                                 116349
                                                                                        ...
Match-e-be-nash-she-wish Band of Pottawatomi Indians of Michigan                            1
Augustine Band of Cahuilla Mission Indians of the Augustine Reservation, California         1
Wyandotte Tribe of Oklahoma                                                                 1
Resighini Rancheria, California                                                             1
San Pasqual Band of Diegueno Mission Indians of California                                  1
Name: STATE_NAME, Length: 285, dtype: int64

In [15]:
violation_counts = violations.STATE_NAME.value_counts()
violation_counts.head()

Texas            345999
Pennsylvania     311978
Mississippi      230522
West Virginia    129322
Alaska           116349
Name: STATE_NAME, dtype: int64

In [16]:
type(violation_counts)

pandas.core.series.Series

In [17]:
violation_counts = violation_counts.reset_index()
violation_counts

                                                 index  STATE_NAME
0                                                Texas      345999
1                                         Pennsylvania      311978
2                                          Mississippi      230522
3                                        West Virginia      129322
4                                               Alaska      116349
..                                                 ...         ...
280  Match-e-be-nash-she-wish Band of Pottawatomi I...           1
281  Augustine Band of Cahuilla Mission Indians of ...           1
282                        Wyandotte Tribe of Oklahoma           1
283                    Resighini Rancheria, California           1
284  San Pasqual Band of Diegueno Mission Indians o...           1

[285 rows x 2 columns]

In [18]:
violation_counts.columns = ['state_name', 'count']
violation_counts.head(20)

        state_name   count
0            Texas  345999
1     Pennsylvania  311978
2      Mississippi  230522
3    West Virginia  129322
4           Alaska  116349
5         New York  116110
6       California  110454
7         Oklahoma   94464
8      Puerto Rico   92882
9       Washington   88202
10  North Carolina   86042
11        Illinois   77937
12          Oregon   70731
13         Arizona   67608
14  American Samoa   64065
15         Florida   59488
16        Missouri   58794
17         Indiana   57846
18       Wisconsin   55160
19        Michigan   54983

In [19]:
serious_violators.STATE_NAME.value_counts()
serious_violators = serious_violators.STATE_NAME.value_counts()
serious_violators.head()

Texas           5882
California      2132
Mississippi     2125
Pennsylvania    2044
Puerto Rico     1886
Name: STATE_NAME, dtype: int64

In [20]:
serious_violators = serious_violators.reset_index()
serious_violators

                                                 index  STATE_NAME
0                                                Texas        5882
1                                           California        2132
2                                          Mississippi        2125
3                                         Pennsylvania        2044
4                                          Puerto Rico        1886
..                                                 ...         ...
176  Sherwood Valley Rancheria of Pomo Indians of C...           1
177  Los Coyotes Band of Cahuilla Mission Indians o...           1
178             Miccosukee Tribe of Indians of Florida           1
179     Zuni Tribe of the Zuni Reservation, New Mexico           1
180  Southern Ute Indian Tribe of the Southern Ute ...           1

[181 rows x 2 columns]

In [22]:
serious_violators.columns = ['state_name', 'count']
serious_violators.head(20)

       state_name  count
0           Texas   5882
1      California   2132
2     Mississippi   2125
3    Pennsylvania   2044
4     Puerto Rico   1886
5        New York   1766
6          Alaska   1690
7        Missouri   1580
8         Indiana   1484
9           Idaho   1458
10  West Virginia   1395
11      Louisiana   1368
12       Oklahoma   1353
13         Oregon   1341
14       Illinois   1335
15        Florida   1259
16     Washington   1124
17        Arizona   1072
18           Ohio   1060
19     New Mexico   1059